.div {
	width: 200px;
	height: 200px;
	background: black;
	border: 8px solid rgb(0, 0, 0);
	border-radius: 50%;
}
.li {
	list-style: none;
	padding-top: 55px;
	text-align: center;
}

.heading {
	font-family: "Courier New", Courier, monospace;
	font-weight: bolder;
	font-size: 40px;
	font-style: italic;
	margin: 0;
	color: rgb(0, 255, 242);
}

.heading-p {
	font-family: "Courier New", Courier, monospace;
	font-weight: 700;
	font-style: italic;
	font-size: 25px;
	margin-top: -10px;

	padding: 0;
	color: rgb(0, 217, 255);
}
